.aa{
    text-align: center;
    
    background-color: chartreuse;
    padding: 40px;
}
.bb{
    text-align: center;
    background-color: #000000;
    padding: 1000px;
    color: chartreuse;
    
}
.cc{
    text-align: center;
    background-color: chartreuse;
    padding: 40px;
}